<% provide(:pagetitle, "New Entry") %>
<h1>New Entry</h1>

<%= link_to "Back to Home", root_path %>

<%= form_for @blog do |b| %>
	<%= b.label :title %><br>
	<%= b.text_field :title %>
	<br>
	<%= b.label :subject %><br>
	<%= b.text_field :subject %>
	<br>
	<%= b.label :post %><br>
	<textarea class="form-control" rows="3">
	<%= b.text_field :content %>
	</textarea>
	<br>
	<%= b.submit %>

<% end %>
