<% provide(:pagetitle, "Home") %>
<div class="jumbotron">
	<h1>THE BETTER BLOG</h1>

	<%= link_to "New Blog Entry", new_blog_path, class: "btn btn-lg btn-primary" %>
</div>

<% @blogs.each do |blog| %>
<ul>
	<li>
		<%= link_to blog.title, blog_path(blog) %>
		<br>
		<%= blog.subject %>
		<br>
		<%= link_to "Edit", edit_blog_path(blog) %> | 
		<%= link_to "Delete", blog_path(blog), method: :delete %>
		<br>
		<i>Created: <%= blog.created_at %></i>
		<br>
		<i>Updated: <%= time_ago_in_words(blog.updated_at) %> ago</i>
	</li>
</ul>
<% end %>